<ion-tabs>
  <ion-tab-bar slot="top"  color="dark">
    <!-- <ion-thumbnail routerLink="/home" class="i">
            <img src="assets/icon/favicon.png">
          </ion-thumbnail> -->

    <ion-tab-button routerLink="/home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="intro">
      <ion-icon name="bookmarks-outline"></ion-icon>
      <ion-label>Intro</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="train">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Train</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="test">
      <ion-icon name="send-outline"></ion-icon>
      <ion-label>Test</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
